@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('../../assets/fonts/Inter-VariableFont.woff2') format('woff2'),
    url('../../assets/fonts/Inter-VariableFont.woff') format('woff');
}
